<app-calculator>
    <tui-tabs
      class="nav-tabs flex row m-center"
      [(activeItemIndex)]="activeItemIndex">
      <button tuiTab>Input Data</button>
      <button tuiTab>Results</button>
    </tui-tabs>
    <form
      class="assets-form flex column m-start c-center gap-2"
      *ngIf="activeItemIndex === 0; else elseBlock"
      [formGroup]="assetsForm">
      <div class="asset-section flex column m-start c-center gap-2">
        <tui-input tuiTextfieldSize="s" formControlName="name">
          Name
          <input tuiTextfield />
        </tui-input>
        <tui-input-number tuiTextfieldSize="s" formControlName="currentValue">
          Current Value ($)
          <input tuiTextfield />
        </tui-input-number>
        <tui-input-number
          tuiTextfieldSize="s"
          formControlName="futureTaxLiability">
          Future Tax Liability ($)
          <input tuiTextfield />
        </tui-input-number>
        <app-horizontal-divider></app-horizontal-divider>
      </div>
      <div class="asset-section flex column m-start c-center gap-2">
        <tui-input tuiTextfieldSize="s">
          Name
          <input tuiTextfield />
        </tui-input>
        <tui-input-number tuiTextfieldSize="s">
          Current Value ($)
          <input tuiTextfield />
        </tui-input-number>
        <tui-input-number tuiTextfieldSize="s">
          Future Tax Liability ($)
          <input tuiTextfield />
        </tui-input-number>
        <button
          tuiButton
          type="button"
          appearance="secondary"
          class="edit-button">
          Edit
        </button>
        <button
          tuiButton
          type="button"
          appearance="secondary"
          class="delete-button">
          Delete
        </button>
        <app-horizontal-divider></app-horizontal-divider>
      </div>
      <button tuiButton type="button" appearance="primary" class="delete-button">
        Add New
      </button>
    </form>
    <ng-template #elseBlock>
      <div class="assets-result-container gap-2 flex column c-center">
        <app-value-card
          [value]="totalInitialValue"
          [compact]="false"></app-value-card>
        <app-value-card
          [value]="totalInsurableFutureValue"
          [compact]="false"></app-value-card>
        <p>Total Future Value Distributions</p>
        <app-value-list-card
          header="Beneficiary 1"
          [values]="beneficiary1"></app-value-list-card>
        <app-value-list-card
          header="Beneficiary 2"
          [values]="beneficiary2"></app-value-list-card>
        <app-line-chart></app-line-chart>
        <app-pie-chart></app-pie-chart>
      </div>
    </ng-template>
  </app-calculator>
  