<header>
    <tui-app-bar class="app-bar">
      <tui-svg
        class="sidebar-icon-toggle"
        tuiSlot="left"
        (click)="toggle(true)"
        (tuiActiveZoneChange)="toggle(false)"
        src="tuiIconMenuLarge">
        <nav *tuiSidebar="open" class="flex column">
          <div class="nav-label flex c-center">
            <h3>Navigation</h3>
          </div>
          <app-horizontal-divider></app-horizontal-divider>
          <a
            class="nav-link flex c-center"
            icon="tuiIconUserLarge"
            iconAlign="left"
            routerLink="/client"
            tuiLink
            >Client</a
          >
          <app-horizontal-divider></app-horizontal-divider>
          <a
            class="nav-link flex c-center"
            icon="tuiIconUsersLarge"
            iconAlign="left"
            routerLink="/beneficiaries"
            tuiLink
            >Beneficiaries</a
          >
          <app-horizontal-divider></app-horizontal-divider>
          <a
            class="nav-link flex c-center"
            icon="tuiIconBriefcaseLarge"
            iconAlign="left"
            routerLink="/businesses"
            tuiLink
            >Businesses</a
          >
          <app-horizontal-divider></app-horizontal-divider>
          <a
            class="nav-link flex c-center"
            icon="tuiIconDollarSignLarge"
            iconAlign="left"
            routerLink="/assets"
            tuiLink
            >Assets</a
          >
          <app-horizontal-divider></app-horizontal-divider>
          <a
            class="nav-link flex c-center"
            icon="tuiIconTrendingDownLarge"
            iconAlign="left"
            routerLink="/debts"
            tuiLink
            >Debts</a
          >
          <app-horizontal-divider></app-horizontal-divider>
          <a
            class="nav-link flex c-center"
            icon="tuiIconFlagLarge"
            iconAlign="left"
            routerLink="/goals"
            tuiLink
            >Goals</a
          >
          <app-horizontal-divider></app-horizontal-divider>
          <a
            class="nav-link flex c-center"
            icon="tuiIconBarChart2Large"
            iconAlign="left"
            routerLink="/total-needs"
            tuiLink
            >Total Needs</a
          >
          <app-horizontal-divider></app-horizontal-divider>
  
          <div class="nav-label flex c-center">
            <h3>Client</h3>
          </div>
          <app-horizontal-divider></app-horizontal-divider>
          <a
            class="nav-action flex c-center"
            icon="tuiIconPlusLarge"
            iconAlign="left"
            tuiLink
            >New Client</a
          >
          <app-horizontal-divider></app-horizontal-divider>
          <a
            class="nav-action flex c-center"
            icon="tuiIconDownloadLarge"
            iconAlign="left"
            tuiLink
            >Change Client</a
          >
          <app-horizontal-divider></app-horizontal-divider>
          <a
            class="nav-action flex c-center"
            icon="tuiIconSaveLarge"
            iconAlign="left"
            tuiLink
            >Save to File</a
          >
          <app-horizontal-divider></app-horizontal-divider>
          <a
            class="nav-action flex c-center"
            icon="tuiIconLogOutLarge"
            iconAlign="left"
            tuiLink
            >Exit to Dashboard</a
          >
          <app-horizontal-divider></app-horizontal-divider>
        </nav>
      </tui-svg>
      <h1 class="page-title">{{ pageName }}</h1>
    </tui-app-bar>
  </header>
  